<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Recuperar Senha - Simple Blog</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <header>
    <h1>Simple Blog</h1>
    <div class="actions">
      <a href="login.html" class="header-link">Login</a>
      <a href="index.html" class="header-link">Página Inicial</a>
    </div>
  </header>

  <main>
    <div class="form-container">
      <h2>Recuperar Senha</h2>
      <form>
        <label for="email">Informe seu email cadastrado</label><br />
        <input type="email" id="email" name="email" required /><br /><br />

        <button type="submit">Enviar instruções</button>
      </form>
    </div>
  </main>
</body>
</html>
